{% extends "base.html" %}
{% block title %} Моє резюме {% endblock  %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    {{ resume.title }}
  </div>
  {% for section in sections %}
  <div class="card-body">
    <h5 class="card-title">{{ section.title }}</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  {% endfor %}
  <div class="card-footer text-body-secondary">
  </div>
</div>

{% endblock %}